.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    align-content: center;
    margin: auto;
    background-color: rgb(224, 221, 227);
}

.color {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    padding: 10px;
    border-radius: 50%;
}

.red {

    background-color: red;

}

.yellow {

    background-color: yellow;

}

.green {
    background-color: lightgreen;
}

.details{
    margin: 20px;
}